/*  Copyright 2009, 2010 Iván Matellanes
 *
 *  This file is part of La ruleta del cambio climático.
 *
 *  La ruleta del cambio climático is free software: you can redistribute
 *  it and/or modify it under the terms of the GNU General Public License
 *  as published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  La ruleta del cambio climático is distributed in the hope that it will
 *  be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with La ruleta del cambio climático is distributed. 
 *  If not, see <http://www.gnu.org/licenses/>.
 */

#include "Common.h"

Icono ICON MOVEABLE PURE LOADONCALL DISCARDABLE "Icono.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION APP_VERSION
PRODUCTVERSION APP_VERSION
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040A04E4"
        BEGIN
            VALUE "Comments", "Juego de puzzles relacionados con el cambio clim\xE1tico"
            VALUE "CompanyName", "La Anunciata Ikastetxea"
            VALUE "FileDescription", "La ruleta del cambio clim\xE1tico"
            VALUE "FileVersion", APP_VERSION_STR
            VALUE "InternalName", "CambioClimatico"
            VALUE "LegalCopyright", "Desarrollado por Iv\xE1n Matellanes"
            VALUE "OriginalFilename", "CambioClimatico.exe"
            VALUE "ProductName", "La ruleta del cambio clim\xE1tico"
            VALUE "ProductVersion", APP_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x040A, 1252
    END
END
